.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  min-height: 1000px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.header {
  background-color: #ffffff;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 22px;
}

.exit {
  margin-right: 30px;
}

.main {
  display: grid;
  grid-template-columns: 15% auto;
  gap: 30px;
}

.menu {
  background-color: #ffffff;
}

.container {
  height: 446px;
}

.menu-cont {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 30px;
}

.indent {
  padding-left: 50px;
}

.create-line {
  width: 100%;
  border-top: 1px solid #f4f4f4;
}

.button {
  height: 37px;
  background-color: #ffffff;
  border-radius: 5px;
}

.button-lok {
  background-color: #172139;
  color: #ffffff;
  width: 140px;
}

.button-imp,
.button-set {
  color: #172139;
}

.button-imp {
  width: 165px;
}

.button-set {
  width: 130px;
}

.button-sinh {
  background-color: #172139;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 340px;
  height: 50px;
  margin-right: 30px;
}

.button-genLoc {
  background-color: #172139;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 286px;
  height: 50px;
  justify-content: center;
}

.input-check {
  accent-color: #ff6600;
}

.input-search {
  margin-left: 25px;
}

.lock-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  gap: 20px;
}

.lock-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.input {
  margin-right: 30px;
}

/* Details */

details summary {
  cursor: pointer;
  list-style: none;
}

details summary::before {
  content: url(../img/OrangePlus.svg);
}

details[open] summary::before {
  content: url(../img/OrangeMin.png);
}

.footer {
  display: grid;
  background-color: #ffffff;
}
